.login__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  text-align: center;
  font-size: 35px;
  height: auto;
  width: 60%;
  left: 50%;
  top: 50%;
  color: rgb(59, 59, 59);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.form__button > button {
    font-size: 25px;
    font-weight: 600;
    width:20%;
    background: white;
    margin-top: 30px;
}

.heading {
    background: rgba(0,0,0,0.6);
    font-weight: 700;
    color: white;
}

.password__div, .email__div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.password , .email{
    width: 70%;
}

.password > input, .email > input {
    font-size: large;
    font-weight: 600;
}

